.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  min-width: 350px;

  font-weight: bold;
}

.checked {
  text-decoration: line-through;
}

.select {
  width: max-content;
  font-weight: bold;
}

.groupButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px
}